*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D3E3F9;
}

header{
	width: 100%;
}

.navegacion{
	width: 642px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 30px;
	color: #353535;
	font-family: 'Open sans';
	font-size: 20px;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #EAEFF5;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*Formulario*/
table{
	background-color: white;
	text-align: 5px left;
	width: 100%;
	border-collapse: collapse;
}


#main{
	width: 700px;
	margin: 100px auto;
}

th,td{
	border:solid 1px black;
	padding: 0;
	text-align: left;
}
input{
	width: 100%;
}

select{
	width: 100%;
}

h1{
	text-align: center;
	padding-top: 30px;
}

footer{
	padding-top: 5px;
}

